.item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: 100%;
  padding: 1rem 1rem 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
}

.forgiven {
  background-color: #f1fdf1;
}

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.description {
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  border-top: 1px solid #ddd;
}

.footer button + button {
  margin-left: 1rem;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  opacity: 0.5;
  pointer-events: none;
}

.loading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: calc(50% - 14px);
  top: calc(50% - 14px);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #2a3b50;
  animation: spinner 0.3s linear infinite;
}
